body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.chat{
    width: 400px;
    min-height: 100px;
    border: blue 0.5px solid;
    margin-top: 50px;
}

.start{
    width: 100px;
    height: 50px;
    background-color: rgb(132, 161, 255);
}

.position{
    width: 100px;
    height: 50px;
    background-color: rgb(132, 161, 255);
}

.input{
    width: 180px;
    min-height: 45px;
}

.map{
    width: 200px;
    height: 50px;
    border: blue 0.5px solid;
    text-align: center;
    background-color: aqua;
    text-decoration: none;
    margin: 5px;
}

.map:hover{
    color: white;
}

